.App {
  text-align: center;
  background-color: aquamarine;
}
input[type="text"] {
  width: 100%;
  background-color: #ccc;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: px solid #555;
  border-radius: 4px;
  text-align: center;
}
input[type="text"]:focus {
  width: 100%;
  border: 3px solid #555;
  font-family: sans-serif;
  font-weight: bolder;
}
.lead {
  font-size: 55px;
  color: darkblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

li {
  list-style: none;
}
img {
  width: 600px;
  height: 400px;
  border: 3px solid #fff;
  object-fit: cover;
}
.imagealbum {
  display: none;
}
