.bg {
  height: 300px !important;
}
.bigAvatar {
  width: 150px !important;
  height: 150px !important;
}
.profile {
  margin-top: -315px;
  margin-bottom: 50px;
}
.content {
  margin-top: 0% !important;
}
.name {
  margin-top: 20px !important;
}
