/* Creates fade effect, thinking of closing body 
so just the background has that effect & the form stays put */

body {
    /* background: fixed linear-gradient( to left, rgb(241, 113, 32), rgb(233, 64, 87), rgb(138, 35, 135)) !important; */
    -webkit-animation: fadein 4s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s;
    /* Firefox < 16 */
    -ms-animation: fadein 4s;
    /* Internet Explorer */
    -o-animation: fadein 4s;
    /* Opera < 12.1 */
    animation: fadein 4s;
    display: block;
    text-size-adjust: auto !important;
    -webkit-text-size-adjust: auto !important;
    background-repeat: space repeat-y;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.input {
    width: 30%;
}

form {
    opacity: 0.7;
    /* width: 60; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    border-radius: 12px;
    color: whitesmoke;
    text-size-adjust: auto;
}

.form-control {
    border-color: none;
    opacity: 3;
    border-radius: 12px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.passwordInput {
    /* margin-left: 10%; */
    width: 80%;
    opacity: 3;
    border-radius: 12px;
    margin-left: 10%;
    margin-right: 10%;
    height: 30px;
    display: flex;
}

/* 
.passwordInput {
    border-color: none;
    opacity: 3;
    border-radius: 12px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 14%;
} */

.form-row .confirm {
    /* margin: 0%; */
    display: flex;
    flex-direction: row;
}

.custom-file-label {
    border-radius: 12px !important;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}

.column {
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    flex: 1;
}

.shrink1 {
    height: 100%;
    width: 97%;
    margin-left: 5%;
}

/* .form-control ::content {
    height: 120%;
    width: 97%;
    margin-left: 30%;
} */

.genbir {
    width: 102%;
}

/* .form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
  } */

#date {
    opacity: 0.7;
    /* width: 90%;
    height: 60%; */
    border: 0px;
    border-radius: 10px;
}

.round {
    position: relative;
    font-size: 75%;
    border-left-width: 9px;
    padding-left: inherit;
    margin-left: 20%;
}

.round label {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30%;
    cursor: pointer;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 21px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 2px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #88239c;
    border-color: #88239c;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

body {
    background-color: #f1f2f3;
}

.button {
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    width: 40%;
    font-size: 13px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #e95325;
    color: rgb(134, 42, 42);
    padding: 8px;
    -webkit-column-width: 100px;
    /* Chrome, Safari, Opera */
    -moz-column-width: 100px;
    /* Firefox */
    column-width: 100px;
}

/* Have to fix the sizing of text and stop it from glitching */

.button:hover {
    border-radius: 12px;
    text-align: center;
    font-size: 13px;
    /* width: 22%; */
    margin-left: 20%;
    margin-right: 20%;
    color: slateblue;
    transition: none;
    /* margin: auto; */
    cursor: pointer;
    /* /* margin: 10px; */
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.9s;
}

.button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.9s;
}

.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */

.popup .popuptext {
    visibility: hidden;
    width: 300px;
    height: 200px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup header {
    margin-left: 92%;
}

/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: fixed;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .purpose {
    width: 110%;
  } */

/* Change styles for cancel button and signup button on extra small screens  */

@media screen and (max-width: 300px) {
    .button, .button:hover {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 12px !important;
    }
}