input {
  overflow: hidden;
  padding: 5px;
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.15);
  -webkit-border-radius: 0px;
  border-radius: 15px;
}

.no-suggestions {
  position: absolute;
  margin-top: 5px;
  background: white;
  font-style: italic;
  font-size: 14px;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 999;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  z-index: 99;
}

.suggestions li {
  padding: 0.5rem;
  z-index: 9999;
}

.suggestion-active,
.suggestions li:hover {
  background-color: lightgray;
  color: black;
  cursor: pointer;
  font-weight: 700;
  z-index: 9999;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
  z-index: 9999;
}
