.card {
  display: "flex";
}
.details {
  display: "flex";
  /* flex-direction: "column" */
}
.content {
  flex: "1 0 auto";
}
.cover {
  width: 151;
}
.controls {
  display: "flex";
  /* align-items: "center", */
  /* padding-Left: theme.spacing.unit,
    padding-Bottom: theme.spacing.unit */
}
.playIcon {
  height: 38px;
}
